
@media screen and (max-width:700px) {
    html{
        scroll-behavior: smooth;;
    }

    body{
   overflow-x: hidden;
   padding-bottom: 60px;
    }
    #navg{
       background-color: rgba(0, 0, 0, 0.473);
       display: block;
       width: 40%;
       height: 230px;
       position: fixed;
       top: 45px;
       border-radius: 13px;
       left: -255px;
       transition-duration: 1.4s;
       animation-timing-function: ease-in-out;
       z-index: 5;
    
    }
    #navg ul{
        list-style-type: none;
        display: block; 
    }

    nav a{
        text-decoration: none;
        color: rgb(252, 245, 245);
        padding: 10px;
        border-radius: 3px;
        
    }

    nav li{
        padding-top: 20px;
    }
    nav a:hover {
        background-color: rgba(88, 80, 80, 0.541);
         box-shadow: 5px 5px 10px rgb(2, 6, 17);
        transition-duration: 0.5s;
        
    }
    #open , #close{
        left: 0px;
        display: block;
       background-color:rgba(0, 0, 0, 0.897) ;
       color: white;
       padding: 10px;
       border:none ;
       border-radius: 5px;
       
  

    }
    #open{
        display: block;
        position: fixed;
       top: 10px;
       transition-duration: 1.4s;
       z-index: 5;
       background-color: rgba(0, 0, 0, 0.432);
    }
    #open:hover{
        background-color: rgba(56, 54, 54, 0.425);
        transition-duration: 0.1s;
        animation-timing-function: ease-in;
    }
    #open:active{
        background-color: rgba(78, 76, 76, 0.445);
        transition-duration: 0.1s;
        animation-timing-function: ease-in;
    }
    #close{
        display: block;
        margin-left: 50px;
    }
    body{
        background-image: linear-gradient(to bottom right , rgb(248, 170, 183) ,  rgb(5, 23, 77));
        background-repeat: no-repeat;
        background-size: cover;
        overflow-y:scroll;
        width: 100%;
        margin: auto;
    }
    header{
        width: 100%;
        height: 450px;
        margin-top: -90px;
        box-shadow: 0px 10px 10px black;
    }
     header h1{
        font-family: Gabriola;
        font-size: 9vw;
        font-weight: bold;
        font-variant: small-caps;
        text-transform: capitalize;
        font-weight: 150px;
        color:white;
        position: absolute;
        left: 25%;
        top: 7%;
        text-align: center;
        padding: 20px;
        border-radius: 32px;
        animation-name: text-show;
       animation-duration: 10s;
       animation-timing-function: ease-in-out;
       animation-iteration-count: infinite;
      
     
    }
    
     header img{    
       width: 100%;
       height:100%;
       background-size: cover;
       background-repeat: no-repeat;
       background-image: url(_MG_0170.jpg);
       filter: grayscale(0) brightness(50%);
       animation-name: show;
       animation-duration: 10s;
       animation-timing-function: ease-in-out;
       animation-iteration-count: infinite;
       z-index: -3;
     
    }
    header p{
        padding: 3px;
        margin: 0px;
    }
    section {
        background-color: rgba(161, 155, 155, 0.322);
       height: fit-content;
        margin-bottom: 200px;
        margin-top: 100px;
    }
    section h1{
    text-align: center;
    color: white;
    font-family: Gabriola;
    font-size:3vw;
    
    }
    section h1::first-letter{
        font-size: 5vw;
        font-variant: small-caps;
    }
    section p ,h1{
        padding: 10px;
        margin: auto;
        width: 50%;
    }
    
    #venue{
        color: white;
        font-size: 4vw;
    }
    
    #democd{
        color:white;
        text-align: center;
        font-size: 7vw;
        margin-top: 0px;
    }
    #com{
        font-size: 3vw;
    }
    
    #stickera{
        z-index:-4;
        position: absolute;
        left: 4%;
         top: 60%;
         width: 30vw;
         height: auto;
         border-radius: 15px;
    
    }
    #stickerb{
        z-index:-4;
     position: absolute;
     left: 70%;
     top: 160%;
     width: 30vw;
     height: auto;
     border-radius: 15px;
    }
    #stickerc{
        z-index:-4;
     position: absolute;
     top: 260%;
     width: 30vw;
     border-radius: 15px;
     
     height: auto;   
     height: auto;
    }
    #stickerd{
        z-index:-4;
    top:380%;
    width: 30vw;
    left: 60%;
    position: absolute;
    height: auto;
    }
}

@media screen and (min-width:700px ){
    
    body{
        background-image: linear-gradient(to bottom right , rgb(248, 170, 183) ,  rgb(5, 23, 77));
        background-repeat: no-repeat;
        background-size: cover;
        overflow-y:scroll;
        width: 100%;
        height: fit-content;
        padding-bottom: 0px;
        margin: auto;
    }
    header{
        width: 100%;
        height: 650px;
        margin-top: -90px;
        box-shadow: 0px 10px 10px black;
    }
     header h1{
        font-family: Gabriola;
        font-size: 5vw;
        font-weight: bold;
        font-variant: small-caps;
        text-transform: capitalize;
        font-weight: 150px;
        color:white;
        position: absolute;
        left: 30%;
        top: 7%;
        text-align: center;
        padding: 20px;
        border-radius: 32px;
        animation-name: text-show;
       animation-duration: 10s;
       animation-timing-function: ease-in-out;
       animation-iteration-count: infinite;
      
     
    }
    
     header img{    
       width: 100%;
       height:100%;
       background-size: cover;
       background-repeat: no-repeat;
       background-image: url(_MG_0170.jpg);
       filter: grayscale(0) brightness(50%);
       animation-name: show;
       animation-duration: 10s;
       animation-timing-function: ease-in-out;
       animation-iteration-count: infinite;
     
    }
    header p{
        padding: 3px;
        margin: 0px;
    }
    #nan::first-letter {
        font-size: 8vw;
    }
    #em::first-letter {
        font-size: 8vw;
    }
    #em{
        border-top: 1px solid white;
    }
    #nan{
        border-bottom: 1px solid white;
    }
    header #mid{
        font-size: 2vw;
        font-variant:normal;
        text-transform:uppercase;
        font-family: Segoe Script ;
    }
    #com{
        font-size: 2vw;
        
    }
    @keyframes show {
        25%{
            
            filter: grayscale(50%) brightness(50%);
        }
        50%{
            filter: grayscale(100%) brightness(50%);
        }
        75%{filter: grayscale(10%) brightness(50%);}
    }
    @keyframes text-show {
        25%{
            
             color: rgb(185, 109, 247);
        }
        50%{
          color: rgb(172, 49, 243);
        }
        75%{ color: rgb(187, 171, 171);}
    }
    #open , #close{
        display: none;
    }
    nav{
        position: sticky;
        top: 10px;
        width: 90%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        margin-left: 4.5%;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.514);
    }
    nav button{
        height: 40px;
    }
    nav ul{
        width: 50%;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }
    
    
    
    nav a{
        text-decoration: none;
        color: rgb(252, 245, 245);
        padding: 10px;
    
        border-radius: 7px;
        
    }
    nav a:hover {
        background-color: rgba(0, 0, 0, 0.541);
         box-shadow: 5px 5px 10px black;
        transition-duration: 0.5s;
        
    }
    
    a[href ="#"]{
         cursor: default;
    
    }
    
    section {
        background-color: rgba(161, 155, 155, 0.322);
        height: fit-content;
        margin-bottom: 200px;
        margin-top: 100px;
    }
    section h1{
    text-align: center;
    color: white;
    font-family: Gabriola;
    font-size:3vw;
    
    }
    section h1::first-letter{
        font-size: 5vw;
        font-variant: small-caps;
    }
    section p ,h1{
        padding: 10px;
        margin: auto;
        width: 30%;
    }
    #venue{
        color: white;
        font-size: 1.5vw;
        padding-bottom: 0px;

    }
    
    
    #democd{
        color:white;
        text-align: center;
        font-size: 4vw;
        margin-top: 0px;
    }
    
    
    #stickera{
     position: absolute;
     left: 4%;
     top: 100%;
     width: 20vw;
     height: auto;
     border-radius: 15px;
    }
    #stickerb{
     position: absolute;
     left: 76%;
     top: 150%;
     width: 20vw;
     height: auto;
     border-radius: 15px;
    }
    #stickerc{
    position: absolute;
    left: 3%;
    top: 220%;
    width: 20vw;
    height: auto;
    border-radius: 15px;  
    }
    #stickerd{
    width: 20vw;
    top: 550%;
    left: 80%;
    position: absolute;
    height: auto;
    }
    
    
    
}